<div class="container">
    <div class="row mb-3 d-flex justify-content-start">
        <div class="col-2">
            <h2>User Data</h2>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="/dashboard/create" role="button">Create Player</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
           <table class="table table-bordered border-primary">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Experience</th>
                        <th scope="col">Level</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((data, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= data.username %></td>
                        <td><%= data.email %></td>
                        <td><%= data.experience %></td>
                        <td><%= data.lvl %></td>
                        <td><a href="/dashboard/player/<%= data.id %>">Detail</a> |
                            <a href="/dashboard/<%= data.id %>/delete">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous">
</script>