<div class="container">
    <div class="row mb-3 d-flex justify-content-start">
        <div class="col-2">
            <h2>Player Detail</h2>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="/dashboard/create" role="button">Create Player</a>
        </div>        
    </div>
    <div class="row">
        <div class="col">
           <table class="table table-bordered border-primary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>  
                        <th scope="col">Experience</th>  
                        <th scope="col">Level</th>
                        <th scope="col"></th>                      
                    </tr>
                </thead>
                <tbody>                   
                    <tr>
                        <td><%= data.id %></td>
                        <td><%= data.username %></td>
                        <td><%= data.email %></td>
                        <td><%= data.experience %></td>
                        <td><%= data.lvl %></td>
                        <td>
                            <a href="/dashboard">Back</a>                           
                        </td>                    
                    </tr>                  
                </tbody>
            </table>
        </div>
    </div>
</div>