<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>    
    <link rel="stylesheet" href="/css/default.css" type="text/css">   
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="root container-fluid d-flex justify-content-center align-items-center">
        <%- body %> 
    </div>
</body>
</html>